@import "../variables/_palette.scss";

.btn {
  cursor: pointer;
  border: none;

  &:disabled {
    cursor: default;
  }

  &:focus {
    outline: none;
  }
}

.btn-ripple {
  overflow: hidden;
  position: relative;
}

.btn-text {
  background-color: transparent;
  text-decoration: underline;

  &:focus {
    outline: none;
  }

  &:active:hover:not([disabled]) {
    background-color: #ececec;
  }
}

.btn-circle {
  border-radius: 50px;
}

.btn-primary {
  background-color: $primary;
}

.btn-standard {
  color: $dark-color-text;
  background-color: #e3e3e3;
}

.btn-secondary {
  background-color: $secondary;
  color: #fff;

  &:focus {
    outline: none;
  }

  &:active:hover:not([disabled]) {
    background-color: $secondary-dark;
  }

  &:disabled {
    color: $gray-600;
    background: $gray-300;
  }
}

.btn-contained {
  border-radius: 4px;
}

.btn-text {
  background-color: transparent;
  border-radius: 4px;
}

.btn-text-standard {
  color: $gray-900;
  font-weight: 600;

  &:focus {
    outline: none;
  }

  &:hover:not([disabled]) {
    background-color: rgba(0, 0, 0, 0.14);
  }
}

.btn-text-secondary {
  color: $secondary;
  font-weight: 600;

  &:focus {
    outline: none;
  }

  &:hover:not([disabled]) {
    background-color: rgba(0, 0, 0, 0.14);
  }
}

.btn-icon {
  outline: none;
  background-color: transparent;
  flex: 0 0 auto;
  color: rgba(0, 0, 0, 0.54);
  padding: 12px;
  overflow: hidden;
  font-size: 1.5rem;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%;
  display: flex;

  &:hover:not([disabled]) {
    background-color: rgba(0, 0, 0, 0.14);
  }
}

.btn-icon-secondary {
  color: $secondary;
}

.btn-text-standard-nav {
  height: inherit;
  display: inline-flex;
  outline: 0;
  position: relative;
  align-items: center;
  border: none;
}

.btn-lg {
  padding: 14px 24px;
  font-size: 1rem;
}

.btn-md {
  padding: 8px 16px;
  font-size: 0.9rem;
}

.btn-sm {
  padding: 4px 12px;
  font-size: 0.9rem;
}

.btn-disabled {
  cursor: default;
}

.btn-md-svg {
  padding: 4px;
  font-size: 1.5rem;
}

.btn-sm-svg {
  padding: 4px;
  font-size: 0.9rem;
}

.btn-svg-secondary {
  color: $secondary;
}

.btn-disabled-svg {
  color: gray;
  cursor: default;
}

.btn-full {
  width: 100%;
  justify-content: center;
  display: flex;
  border-radius: 0;
}

.btn-outlined-primary {
  border-width: 2px;
  border: $primary;
  border-radius: 20px;
}

.btn-outlined-secondary {
  border-width: 2px;
  border: $secondary;
  border-radius: 20px;
  border-style: solid;
  padding: 5px 13px;
}
