$primary: #f4f1ec;
$primary-dark: #fdebcd;
$primary-light: #fbf8f2;
$secondary: #84170e;
$secondary-dark: #6d0c04;
$secondary-light: #af1e13;
$tertiary: #e6be7a;

$hover1: #e2e2e2;
$hover2: #f4f1ec;

$dark-color-text: #4a4a4a;
$text-color: #4b5563;


$gray-900: rgba(17, 24, 39, 1);
$gray-800: rgba(37, 46, 66, 1);
$gray-600: rgba(128, 128, 128, 1);
$gray-500: rgba(107, 114, 128, 1);

$gray-300:rgba(222, 222, 222, 1);
