@import "/variables/_core.scss";
@import "/variables/_breakpoints.scss";

.content-root {
  display: flex;
  margin-top: 12px;
  margin-bottom: 20px;
  .main {
    width: 800px;
    // .content {
    //   box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    //     0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    //   border-radius: 4px;
    // }
  }

  .left-nav {
    width: 280px;
    .left-nav-content {
      .profile-nav-root {
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
        .profile-image-root {
          position: relative;
          display: flex;
          align-self: center;
          align-items: center;

          .profile-display-picture {
            border-radius: 50%;
            border-color: gray;
            border: 2px solid #dedede;
            width: 60px;
            height: 60px;
            background-size: cover;
          }
        }

        .profile-information {
          .profile-name {
            font-size: 1em;
            color: $secondary;
          }
          .profile-username {
            font-size: 0.9em;
            font-weight: 600;
          }
        }
      }

      .profile-navigation-list {
        list-style: none;
        padding: 0;

        .profile-navigation-item {
          padding: 12px 12px;
          font-size: 16px;
          font-weight: 600;
          display: flex;
          align-content: center;
          cursor: pointer;
          text-decoration: none;
          color: $gray-500;
          align-items: center;

          &:hover {
            background: #f3eee5;
          }

          &:focus {
            color: inherit;
          }

          .profile-navigation-item-icon-root {
            color: $gray-600;
            display: inline-flex;
            min-width: 40px;
            flex-shrink: 0;

            .profile-navigation-item-icon {
              fill: currentColor;
              width: 1em;
              height: 1em;
              display: inline-block;
              font-size: 1.5rem;
              transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
              flex-shrink: 0;
              user-select: none;
            }
          }
        }

        .profile-navigation-item-active {
          .profile-navigation-item {
            background: $primary;
            &:hover {
              background: $primary;
            }
          }
        }
      }

      .profile-social-root {
        .profile-social {
          .profile-social-item {
            display: flex;
            .profile-social-item-icon-root {
              min-width: 56px;
              .profile-social-item-icon {
                fill: currentColor;
                width: 1em;
                height: 1em;
                display: inline-block;
                font-size: 1.5rem;
                transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                flex-shrink: 0;
                user-select: none;
              }
            }

            .profile-social-item-text {
            }
          }
        }
      }
    }
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.profile-root {
  .profile-info {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;

    .profile-info-item {
      margin-top: 20px;
      width: 50%;
    }
  }

  .art-info {
    display: grid;
    grid-auto-flow: column;
    gap: 12px;

    grid-auto-columns: 1fr;

    .art-info-item {
    }
  }
}

.studio-root {
  .studio-featured-portfolio-root {
    .studio-featured-portfolio-container {
      .studio-featured-portfolio-item {
        display: grid;
        grid-auto-flow: column;
        gap: 12px;
        grid-auto-columns: 1fr;

        .portfolio-image-root {
          .portfolio-image {
            background-size: cover;
            height: 250px;
          }
        }

        .invert {
          grid-column-start: 1;
        }
      }
    }
  }
}

.portfolio-root {
  .portfolio {
    .user-featured-portfolio-container {
      display: grid;
      grid-gap: 12px;
      grid-template-columns: 1fr 1fr 1fr;

      .user-featured-portfolio-item {
        width: 100%;
        box-sizing: border-box;
        .user-featured-portfolio-item-image-root {
          .user-featured-portfolio-item-image {
            height: 100px;
            background-size: cover;
            background-position: 0 50%;
          }
        }
      }
    }
  }

  .user-portfolio-root {
    .user-portfolio-container {
      display: grid;
      grid-gap: 12px;
      grid-template-columns: 1fr 1fr;
      .user-portfolio-item {
        width: 100%;
        box-sizing: border-box;
        .user-portfolio-image-root {
          .user-portfolio-image {
            height: 200px;
            background-size: cover;
            background-position: 0 50%;
          }
        }
      }
    }
  }
}

.header-container {
  display: flex;
  align-items: center;
  .component-header {
    flex-grow: 1;
  }
}
