.sign-up-root {
  margin-top: 12px;
  margin-bottom: 40px;
  .sign-up {
    width: 800px;
    .form {
      .profile-image-root {
        position: relative;
        display: flex;
        
    justify-content: center;

        .profile-display-picture {
          border-radius: 50%;
          border-color: gray;
          border: 2px solid #dedede;
          width: 100px;
          height: 100px;
          cursor: pointer;
          background-size: cover;
          background-position: 50%;
        }
      }
      .art-form {
        display: grid;
        grid-gap: 12px;
        grid-template-columns: 1fr 1fr;

        .art-form-item {
          width: 100%;
        }
      }
    }
  }
}

.form-sign-up-content {
  height: 80vh;
}

.btn-loader{
  
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
}
