.svg-button {
  cursor: pointer;
}
.edit-image-container {
  position: relative;

  .edit-image-action-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    .edit-image-actions {
      justify-content: flex-end;
      display: flex;

      div {
        padding: 5px;
        .delete-image-action-button {
          display: block;
          width: 15px;
          height: 15px;
          &:hover {
            width: 18px;
            height: 18px;
          }
        }
      }
    }

    // .edit-image-actions > div .action-button{
    //   display: none;
    // }
  }
}

.featured-project-container {
  position: relative;

  .featured-project-action-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    .featured-project-actions {
      justify-content: flex-end;
      display: flex;
    }

    .featured-project-actions > div .action-button {
      display: none;
    }

    &:hover {
      .featured-project-actions > div .action-button {
        display: block;
      }
    }

    &.active {
      .featured-project-actions > div .action-button {
        display: none;
      }
    }
  }
}

.banner-container {
  position: relative;

  .banner {
    height: 300px;
  }

  .banner-action-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    .banner-actions {
      display: flex;
      justify-content: flex-end;
      padding: 10px;
    }

    .banner-actions > div .action-button {
      display: none;
      width: 15px;
      height: 15px;
      &:hover {
        width: 18px;
        height: 18px;
      }
    }

    &:hover {
      background: rgba(116, 113, 99, 0.4);
      .banner-actions > div .action-button {
        display: block;
      }
    }

    &.active {
      .banner-actions > div .action-button {
        display: none;
      }
    }
  }
}

.sample-artwork-container {
  position: relative;

  .sample-artwork-action-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    .sample-artwork-actions {
      justify-content: flex-end;
      display: flex;

      div .action-button {
        height: 15px;
        width: 15px;
        &:hover {
          width: 18px;
          height: 18px;
        }
      }
    }

    .sample-artwork-actions > div .action-button {
      display: none;
    }

    &:hover {
      background: rgba(116, 113, 99, 0.4);
      .sample-artwork-actions > div .action-button {
        display: block;
      }
    }

    &.active {
      .sample-artwork-actions > div .action-button {
        display: none;
      }
    }
  }
}

.terms-and-agreements-root {
  display: inline-flex;
  align-items: center;

  .terms-and-agreements-text{
    font-size: 14px;
  }
}
