.studio-root {
  .user-featured-portfolio-container {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: 1fr 1fr 1fr;

    .studio-featured-portfolio-item {
      width: 100%;
      box-sizing: border-box;
      .media-container {
        .studio-featured-media {
          height: 140px;
          width: 100%;
          box-sizing: border-box;
          border: solid 1px gray;
        }

        .studio-featured-image {
          background-size: cover;
          background-position: 0 50%;
        }

        .studio-featured-video {
          height: 140px;
          width: 100%;
          &:focus {
            outline: 0px;
          }
        }

        .studio-featured-audio {
          height: 140px;
          width: 100%;
          .audio-image-placeholder {
            background-size: contain;
            height: 100%;
            width: 100%;
            background-position: 0 0%;
          }
          .portfolio-audio {
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;

            .audio-container {
              height: 100%;
              width: 100%;
              display: flex;
              align-items: flex-end;
              box-sizing: border-box;
              padding-left: 5px;
              padding-right: 5px;
              padding-bottom: 5px;
              .audio-player {
                height: 30px;
                width: 100%;
                outline: 0px;
                &:focus {
                  outline: 0px;
                }
              }
            }
          }
        }
      }
      .user-featured-portfolio-item-image-root {
        .user-featured-portfolio-item-image {
          height: 140px;
          background-size: cover;
          background-position: 0 50%;
        }
      }
    }
  }
}


.featured-project-item {
  .media-container {
    .featured-project {
      height: 180px;
      width: 100%;
      box-sizing: border-box;
    }
    .featured-project-image {
      background-size: cover;
      background-position: 0 50%;
    }
  }
}